/*style.css starter file*/ 
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    background-color: #ECF2FF;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 375px;
    min-width: 250px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}



#results-box {
    background: rgb(119,85,255);
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    color: #CAC9FF;
    padding: 40px 50px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}

#round-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin-top: 24px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}

#rating-text, #compliment-text {
    color: white;
}

#rating-text {
    font-weight: 800;
    font-size: 56px;
}
#max-rating-text {
    opacity: 52%;
    font-weight: 700;
}

#compliment-text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

#evaluation-text {
    font-weight: 500;
    text-align: center;
}

#summary-box {
    background-color: white;
}

h2 {
    font-size: 1em;
    font-weight: 500;
}

.category p {
    color: #303B59;
    font-weight: 700;
}

.category span {
    opacity: 50%;
}

#summary-box div:nth-child(2) {
    color: #FF5555;
    background-color: hsl(0, 100%, 95%);
  }

  #summary-box div:nth-child(3) {
    color: hsla(39, 100%, 56%, 1);
    background-color: hsl(39, 100%, 95%);
  }

  #summary-box div:nth-child(4) {
    color: hsla(166, 100%, 37%, 1);
    background-color: hsl(166, 100%, 95%);
  }

  #summary-box div:nth-child(5) {
    color: hsla(234, 85%, 45%, 1);
    background-color: hsl(234, 85%, 95%);
  }

  img {
    height: 20px;
    width: 20px;
  }

  button {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 129px;
    height: 56px;
    background: hsla(223, 30%, 27%, 1);
}

button:hover {
    background: linear-gradient(to bottom, #7857ff 0%, #6842ff 100%, #2e2be9 100%);
}